<div class="app-layout" *ngIf="!isLoginPage && !isLandingPage">
  <app-sidebar [isCollapsed]="isSidebarCollapsed" (toggleCollapse)="isSidebarCollapsed = !isSidebarCollapsed"></app-sidebar>
  <main class="main-content" [class.collapsed-nav]="isSidebarCollapsed">
    <app-header [title]="pageTitle" [isSidebarCollapsed]="isSidebarCollapsed" (toggleSidebar)="isSidebarCollapsed = !isSidebarCollapsed"></app-header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<div *ngIf="isLoginPage || isLandingPage">
  <router-outlet></router-outlet>
</div>
